{% load static %}

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>
<!-- htmx -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.6.1/htmx.min.js"
    integrity="sha512-aUGLiEPPd4KYAKmXba1ZeH3JCtPEo3F8Ay1C7sRpSnOcfsczlP1j14jo3abBaMqJu9QC4pbh8TyKy9ekZ6j7Pw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Core theme JS-->
<script src="{% static 'js/warehouse.js' %}"></script>